conferencemanager/src/main/resources/Manager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://it.acl.software/services/manager"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://it.acl.software/services/manager"
             name="Manager">
    <types>
    <xsd:schema version="1.0" targetNamespace="http://it.acl.software/services/manager">
        <xsd:element name="managerConferenceListMessageRequestByDate" type="tns:managerRequestListByDate"/>
        <xsd:element name="managerConferenceListMessageResponseByDate" type="tns:managerResponseListByDate"/>       

        <xsd:element name="managerConferenceMessageRequestById" type="tns:managerRequestById"/>
        <xsd:element name="managerConferenceMessageResponseById" type="tns:managerResponseById"/>       

        <xsd:element name="managerConferenceMessageRequestByDate" type="tns:managerRequestByDate"/>
        <xsd:element name="managerConferenceMessageResponseByDate" type="tns:managerResponseByDate"/>       

        <xsd:element name="managerPoiMessageRequestByLocation" type="tns:managerPoiRequestByLocation"/>
        <xsd:element name="managerPoiMessageResponseByLocation" type="tns:managerPoiResponseByLocation"/>       

		<xsd:element name="managerPreviewReq" type="tns:managerRequest"/>
		<xsd:element name="managerPreviewResp" type="tns:managerResponse"/>
		<xsd:complexType name="managerRequest">
		    <xsd:sequence>  
		        <xsd:element name="idRequest" type="xsd:string"/>
		       
		    </xsd:sequence>
	    </xsd:complexType>
		  <xsd:complexType name="managerResponse">
				<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element name="conferenceID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
				 <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					<xsd:element name="abstract" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					<xsd:element name="urlImage" minOccurs="1" maxOccurs="1" type="xsd:anyURI"/>
			    	<xsd:element name="urlPDFs" minOccurs="1" maxOccurs="1" type="xsd:base64Binary"/>
			    	<xsd:element name="city" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			    	<xsd:element name="date" minOccurs="1" maxOccurs="1" type="xsd:date"/>
			    	<xsd:element name="latitude" minOccurs="1" maxOccurs="1" type="xsd:double"/>
			    	<xsd:element name="longitude" minOccurs="1" maxOccurs="1" type="xsd:double"/>
				
				</xsd:sequence>
				
				
		</xsd:complexType>
		<xsd:complexType name="managerRequestById">
		    <xsd:sequence>  
		        <xsd:element name="idConference" type="xsd:string"/>
		    </xsd:sequence>
	    </xsd:complexType>
        
	    <xsd:complexType name="managerResponseById">      
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element name="calendarEventRecord" minOccurs="1" maxOccurs="1" type="tns:calendarEventRecord"/>
			</xsd:sequence>
	    </xsd:complexType>
		
		<xsd:complexType name="managerRequestByDate">
		    <xsd:sequence>  
		        <xsd:element name="dateConference" type="xsd:string"/>
		    </xsd:sequence>
	    </xsd:complexType>
        
	    <xsd:complexType name="managerResponseByDate">      
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element name="calendarEventRecord" minOccurs="1" maxOccurs="1" type="tns:ConferenceType"/>
			</xsd:sequence>
	    </xsd:complexType>
		
		<xsd:complexType name="managerRequestListByDate">
		    <xsd:sequence>  
		        <xsd:element name="dateToday" type="xsd:string"/>
		    </xsd:sequence>
	    </xsd:complexType>
        
	    <xsd:complexType name="managerResponseListByDate">      
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="calendarEventRecord" minOccurs="1" maxOccurs="1" type="tns:calendarEventRecord"/>
			</xsd:sequence>
	    </xsd:complexType>
		
		<xsd:complexType name="managerPoiRequestByLocation">
		    <xsd:sequence>  
		        <xsd:element name="eventLocation" type="xsd:string"/>		       
		    </xsd:sequence>
	    </xsd:complexType>
        
	    <xsd:complexType name="managerPoiResponseByLocation">      
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="poisRecord" minOccurs="1" maxOccurs="unbounded" type="tns:calendarEventRecord"/>
			</xsd:sequence>
	    </xsd:complexType>
		
		<xsd:complexType name="poisRecord">
	        <xsd:sequence>
	            <xsd:element name="namePOI" minOccurs="1" maxOccurs="1" type="xsd:string"/>
	            <xsd:element name="locationPOI" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<xsd:element name="typePOI" minOccurs="1" maxOccurs="1" type="xsd:string"/>
	            <xsd:element name="urlImage" minOccurs="0" maxOccurs="1" type="xsd:anyURI"/>
	        </xsd:sequence>
	    </xsd:complexType>
		
		<xsd:complexType name="calendarEventRecord">
			<xsd:sequence minOccurs="1" maxOccurs="1">
		        <xsd:element name="idConference" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<xsd:element name="nameEvent" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<xsd:element name="locationEvent" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<xsd:element name="dateTimeEvent" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<xsd:element name="urlImage" minOccurs="1" maxOccurs="1" type="xsd:anyURI"/>
			    <xsd:element name="urlPDFs" minOccurs="1" maxOccurs="unbounded" type="tns:urlPDFs"/>
			</xsd:sequence>
		</xsd:complexType>
        
	    <xsd:complexType name="urlPDFs">
	        <xsd:sequence>
	            <xsd:element name="namePDF" minOccurs="1" maxOccurs="1" type="xsd:string"/>
	            <xsd:element name="urlPDF" minOccurs="1" maxOccurs="1" type="xsd:anyURI"/>
	        </xsd:sequence>
	    </xsd:complexType>
	    
	      <xsd:complexType name="ConferenceType">
				<xsd:sequence>
					<xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					<xsd:element name="abstract" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					<xsd:element name="urlImage" minOccurs="1" maxOccurs="1" type="xsd:anyURI"/>
			    	<xsd:element name="urlPDFs" minOccurs="1" maxOccurs="1" type="xsd:anyURI"/>
			    	<xsd:element name="city" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			    	<xsd:element name="date" minOccurs="1" maxOccurs="1" type="xsd:date"/>
			    	<xsd:element name="latitude" minOccurs="1" maxOccurs="1" type="xsd:double"/>
			    	<xsd:element name="longitude" minOccurs="1" maxOccurs="1" type="xsd:double"/>
				</xsd:sequence>
		</xsd:complexType>
      
	</xsd:schema> 
    </types>
    <message name="managerConferenceListMessageRequestByDate">
        <part name="parameters" element="tns:managerConferenceListMessageRequestByDate"/>
    </message>
    <message name="managerConferenceListMessageResponseByDate">
        <part name="parameters" element="tns:managerConferenceListMessageResponseByDate"/>
    </message>
    <message name="managerConferenceMessageRequestById">
        <part name="parameters" element="tns:managerConferenceMessageRequestById"/>
    </message>
    <message name="managerConferenceMessageResponseById">
        <part name="parameters" element="tns:managerConferenceMessageResponseById"/>
    </message>	
    <message name="managerConferenceMessageRequestByDate">
        <part name="parameters" element="tns:managerConferenceMessageRequestByDate"/>
    </message>
    <message name="managerConferenceMessageResponseByDate">
        <part name="parameters" element="tns:managerConferenceMessageResponseByDate"/>
    </message>
    <message name="managerPoiMessageRequestByLocation">
        <part name="parameters" element="tns:managerPoiMessageRequestByLocation"/>
    </message>
    <message name="managerPoiMessageResponseByLocation">
        <part name="parameters" element="tns:managerPoiMessageResponseByLocation"/>
    </message>	
    
    <message name="requestPreview">
    <part name="reqparam" element="tns:managerPreviewReq"/>
    </message>
    <message name="responsePreview">
    <part name="respparam" element="tns:managerPreviewResp"/>
    </message>
    <portType name="ManagerPT">
	    <operation name="managerConferenceListRequestByDate">
            <input message="tns:managerConferenceListMessageRequestByDate"/>
            <output message="tns:managerConferenceListMessageResponseByDate"/>
        </operation>
        <operation name="managerConferenceRequestById">
            <input message="tns:managerConferenceMessageRequestById"/>
            <output message="tns:managerConferenceMessageResponseById"/>
        </operation>
        <operation name="managerConferenceRequestByDate">
            <input message="tns:managerConferenceMessageRequestByDate"/>
            <output message="tns:managerConferenceMessageResponseByDate"/>
        </operation>		
        <operation name="managerPoiRequestByLocation">
            <input message="tns:managerPoiMessageRequestByLocation"/>
            <output message="tns:managerPoiMessageResponseByLocation"/>
        </operation>	
        
        <operation name="getPreviewById">
         <input message="tns:requestPreview"/>
         <output message="tns:responsePreview"/></operation>	
    </portType>    
    <binding name="ManagerBinding" type="tns:ManagerPT">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
	      <operation name="managerConferenceListRequestByDate">
	          <soap:operation soapAction=""/>
		      <input>
		              <soap:body use="literal"/>
		      </input>
		      <output>
		              <soap:body use="literal"/>
		      </output>
	      </operation>
	      <operation name="managerConferenceRequestById">
	          <soap:operation soapAction=""/>
		      <input>
		              <soap:body use="literal"/>
		      </input>
		      <output>
		              <soap:body use="literal"/>
		      </output>
	      </operation>
	      <operation name="managerConferenceRequestByDate">
	          <soap:operation soapAction=""/>
		      <input>
		              <soap:body use="literal"/>
		      </input>
		      <output>
		              <soap:body use="literal"/>
		      </output>
	      </operation>
	      <operation name="managerPoiRequestByLocation">
	          <soap:operation soapAction=""/>
		      <input>
		              <soap:body use="literal"/>
		      </input>
		      <output>
		              <soap:body use="literal"/>
		      </output>	      
		     
	     	 </operation>
	     	  <operation name="getPreviewById">
		      
		      <input>
		              <soap:body use="literal"/>
		      </input>
		      <output>
		              <soap:body use="literal"/>
		      </output>
		      </operation>		  
    </binding>
    <service name="ManagerService">
      <port name="ManagerPort" binding="tns:ManagerBinding">
          <soap:address location="http://localhost:8080/manager/services/manager"></soap:address>
      </port>
    </service>
</definitions>