serviceprev/src/main/resources/Preview.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://it.acl.software/services/preview"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://it.acl.software/services/preview"
             name="Preview">
    <types>
    <xsd:schema version="1.0" targetNamespace="http://it.acl.software/services/preview">
        <xsd:element name="previewConferenceMessageRequest" type="tns:previewRequest"/>
        <xsd:element name="previewConferenceMessageResponse" type="tns:previewResponse"/>       
		<xsd:element name="previewMultipleConferencesMessageRequest" type="tns:previewMultipleRequest"/>
        <xsd:element name="previewMultipleConferencesMessageResponse" type="tns:previewMultipleResponse"/> 

		<xsd:complexType name="previewRequest">
		    <xsd:sequence>  
		        <xsd:element name="idConference" type="xsd:string"/>
		    </xsd:sequence>
	    </xsd:complexType>
	    
	    
	    <xsd:complexType name="previewMultipleRequest">
	    	<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="conferencesList" type="xsd:string" />
			</xsd:sequence>
	    </xsd:complexType>
	    
	    <xsd:complexType name="previewMultipleResponse">      
			<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="conferences" type="tns:ConferenceType" />
			</xsd:sequence>
	    </xsd:complexType>
        
	    <xsd:complexType name="previewResponse">      
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element name="idConference" minOccurs="1" maxOccurs="1" type="xsd:string"/>			
				<xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<xsd:element name="abstract" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<xsd:element name="urlImage" minOccurs="1" maxOccurs="1" type="xsd:anyURI"/>
			    <xsd:element name="urlPDFs" minOccurs="1" maxOccurs="1" type="xsd:anyURI"/>
			    <xsd:element name="city" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			    <xsd:element name="date" minOccurs="1" maxOccurs="1" type="xsd:date"/>
			    <xsd:element name="latitude" minOccurs="1" maxOccurs="1" type="xsd:double"/>
			    <xsd:element name="longitude" minOccurs="1" maxOccurs="1" type="xsd:double"/>
			</xsd:sequence>
	    </xsd:complexType>
        
        
        <xsd:complexType name="ConferenceType">
				<xsd:sequence>
					<xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					<xsd:element name="abstract" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					<xsd:element name="urlImage" minOccurs="1" maxOccurs="1" type="xsd:anyURI"/>
			    	<xsd:element name="urlPDFs" minOccurs="1" maxOccurs="1" type="xsd:anyURI"/>
			    	<xsd:element name="city" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			    	<xsd:element name="date" minOccurs="1" maxOccurs="1" type="xsd:date"/>
			    	<xsd:element name="latitude" minOccurs="1" maxOccurs="1" type="xsd:double"/>
			    	<xsd:element name="longitude" minOccurs="1" maxOccurs="1" type="xsd:double"/>
				</xsd:sequence>
		</xsd:complexType>
	</xsd:schema>   
    </types>
    <message name="previewConferenceMessageRequest">
        <part name="parameters" element="tns:previewConferenceMessageRequest"/>
    </message>
    <message name="previewConferenceMessageResponse">
        <part name="parameters" element="tns:previewConferenceMessageResponse"/>
    </message>
    <message name="previewMultipleConferencesMessageRequest">
        <part name="parameters" element="tns:previewMultipleConferencesMessageRequest"/>
    </message>
    <message name="previewMultipleConferencesMessageResponse">
        <part name="parameters" element="tns:previewMultipleConferencesMessageResponse"/>
        
    </message>
    <portType name="PreviewPT">
        <operation name="previewConferenceRequest">
            <input message="tns:previewConferenceMessageRequest"/>
            <output message="tns:previewConferenceMessageResponse"/>
        </operation>
        <operation name="previewMultipleConferencesRequest">
            <input message="tns:previewMultipleConferencesMessageRequest"/>
            <output message="tns:previewMultipleConferencesMessageResponse"/>
        </operation>
    </portType>    
    <binding name="PreviewBinding" type="tns:PreviewPT">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
	      <operation name="previewConferenceRequest">
	          <soap:operation soapAction=""/>
		      <input>
		              <soap:body use="literal"/>
		      </input>
		      <output>
		              <soap:body use="literal"/>
		      </output>
	      </operation>
	      <operation name="previewMultipleConferencesRequest">
	          <soap:operation soapAction=""/>
		      <input>
		              <soap:body use="literal"/>
		      </input>
		      <output>
		              <soap:body use="literal"/>
		      </output>
	      </operation>
    </binding>
    <service name="PreviewService">
      <port name="PreviewPort" binding="tns:PreviewBinding">
          <soap:address location="http://localhost:8080/preview/services/preview"></soap:address>
      </port>
    </service>
</definitions>